<div class="puc-certificate-main-container" *ngIf="0 == 0">
    <div class="puc-certificate-heading">
        <h2 class="heading">Create a PUC Certificate</h2>
    </div>
    <div class="create-puc-cerificate-wrapper">
        <section class="create-puc-certificate">
            <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
                <!-- Changing the icon to Done -->
                <ng-template matStepperIcon="edit">
                    <mat-icon>check</mat-icon>
                </ng-template>
            
                <!-- User Details -->
                <mat-step [stepControl]="userDetailsForm">
                    <form class="create-certificate-form" [formGroup]="userDetailsForm">
                        <ng-template matStepLabel>User Details</ng-template>

                        <div class="step-title">
                            <h3 class="title">Enter User Details</h3>
                        </div>
                        
                        <div class="step-logo">
                            <img src="../../../assets/icons/user-deatils-logo.svg" class="logo" alt="">
                        </div>

                        <div class="create-certificate-input-fields">
                            <mat-form-field appearance="outline">
                                <mat-label>Mobile Number</mat-label>
                                <input matInput formControlName="phoneNumber">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Vehicle Registration Number</mat-label>
                                <input matInput formControlName="vehicleRegNumber">
                            </mat-form-field>
                        </div>

                        <div>
                            <button mat-flat-button color="primary" class="step-button" (click)="sendOtp(stepper)">Send OTP</button>
                        </div>
                    </form>
                </mat-step>
            
                <!-- Otp Verification -->
                <mat-step>
                    <form class="create-certificate-form">
                        <ng-template matStepLabel>OTP Verification</ng-template>

                        <div class="step-title">
                            <h3 class="title">Enter OTP sent to User’s Mobile Number</h3>
                        </div>

                        <div class="step-logo">
                            <img src="../../../assets/icons/verify-otp-logo.jpg" class="logo" alt="">
                        </div>
                        
                        <div class="create-certificate-input-fields">
                            <ng-otp-input class="otp-input" (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input>

                            <!-- <div class="resend-otp-container">
                                <p class="otp-message">Didn’t receive the OTP?</p>
                                <button class="resend-button">Resend <span class="time">in 00:29</span></button>
                            </div> -->
                        </div>

                        <div>
                            <button mat-flat-button color="primary" class="step-button" type='button' (click)="verifyOtp(stepper)">Verify OTP</button>
                        </div>
                    </form>
                </mat-step>
            
                <!-- Photo Capture -->
                <mat-step>
                    <form class="create-certificate-form">
                        <ng-template matStepLabel>Photo Capture</ng-template>
                        
                        <div class="step-title">
                            <h3 class="title">Vehicle Photo with Number Plate</h3>
                          </div>
                        

                        <div *ngIf="!isWebcamEnabled; else elseBlock">
                            <button *ngIf="!webcamImage" type="button" class="step-logo capture-logo" (click)="isWebcamEnabled = true">
                                <img src="../../../assets/icons/capture-photo-logo.svg" class="logo cam-logo" alt="">
                                <span class="logo-text">Tap here to take photo</span>
                            </button>
                        </div>

                        <ng-template #elseBlock>
                            <div class="step-logo capture-logo">
                                <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
                            </div>
                            <button mat-fab color="primary" (click)="triggerSnapshot()" type="button">
                                <mat-icon>camera</mat-icon>
                            </button>
                        </ng-template>

                        <div class="step-logo capture-logo" *ngIf="webcamImage">
                            <img [src]="webcamImage.imageAsDataUrl" class="logo cam-logo" alt="" style="width: 100%;">
                        </div>

                        <div>
                            <button
                                mat-flat-button
                                class="step-button"
                                color="primary"
                                matStepperNext
                                type='button'
                                *ngIf="webcamImage"
                            >
                                Proceed
                            </button>
                        </div>
                    </form>
                </mat-step>
            
                <!-- Vehicle Exhaust -->
                <mat-step>
                    <form class="create-certificate-form">
                        <ng-template matStepLabel>Vehicle Exhaust</ng-template>

                        <div class="step-title">
                            <h3 class="title">Scan Vehicle Exhaust</h3>
                          </div>
                        <div class="step-logo">
                            <img src="../../../assets/icons/vehicle-img.jpg" class="logo" alt="">
                        </div>

                        <div>
                            <button mat-flat-button class="step-button" color="primary" matStepperNext type='button'>Start Scan</button>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>
              
        </section>
        <section class="user-details">
            <div class="user-details-heading">
                <h4 class="heading">User Details</h4>
            </div>
            <div class="user-details-container">
                <form [formGroup]="userDetailsRightForm">
                  <mat-form-field appearance="outline">
                    <mat-label>Registration Number</mat-label>
                    <input matInput formControlName="regNumber">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Registration Owner</mat-label>
                    <input matInput formControlName="regOwner">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Owner Phone Number</mat-label>
                    <input matInput formControlName="ownerPhoneNumber">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Maker's Class</mat-label>
                    <input matInput formControlName="markersClass">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Vehicle Class</mat-label>
                    <input matInput formControlName="vehicleClass">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Month, Year of Mfg.</mat-label>
                    <input matInput formControlName="monthYearOfMfg">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Fuel Used</mat-label>
                    <input matInput formControlName="fuelUsed">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Chasis Number</mat-label>
                    <input matInput formControlName="chasisNumber">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Engine Number</mat-label>
                    <input matInput formControlName="engineNumber">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Date of Registration</mat-label>
                    <input matInput formControlName="dateOfReg">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Engine Stroke</mat-label>
                    <input matInput formControlName="engineStroke">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Emission Norms</mat-label>
                    <input matInput formControlName="emissionNorms">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Odometer Reading</mat-label>
                    <input matInput formControlName="odometerReading">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Insurance Cert. No.</mat-label>
                    <input matInput formControlName="insuranceCertNumber">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Insurance Company</mat-label>
                    <input matInput formControlName="insuranceCompany">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Insurance Validity</mat-label>
                    <input matInput formControlName="insuranceValidity">
                  </mat-form-field>
                </form>
            </div>
            
        </section>
    </div>
</div>