<mat-nav-list>
    <div class="header">
        <h3 class="header-text">vahanPUC</h3>
    </div>

    <a mat-list-item routerLink="/login" routerLinkActive="list-item-active">
        <mat-icon>login</mat-icon> Login
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLink="/puc-certificate" routerLinkActive="list-item-active">
        <mat-icon>assignment</mat-icon> PUC Certificate
    </a>
    <a mat-list-item routerLink="/credits-transaction" routerLinkActive="list-item-active">
        <mat-icon>credit_card</mat-icon> Credits Transaction
    </a>
    <a mat-list-item routerLink="/puc-transaction" routerLinkActive="list-item-active">
        <mat-icon>folder_open</mat-icon> PUC Transaction
    </a>
    <a mat-list-item routerLink="/my-account" routerLinkActive="list-item-active">
        <mat-icon>account_circle</mat-icon> My Account
    </a>
</mat-nav-list>